<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td{
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th></th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
                <th>H</th>
                <th>I</th>
                <th>J</th>
            </tr>
            <tr>
                <td>1</td>

                <td>
                    <button type="button" ng-click="buttonClick(0, 0)"><p style="background-color:{{color}}">Click Me!</p></button>
                </td>

                <td>
                    <button type="button" ng-click="buttonClick(0, 1)"><p style="background-color:{{color}}">Click Me!</p></button>
                </td>

                <td>
                    <button type="button" ng-click="buttonClick(0, 2)"><p style="background-color:{{color}}">Click Me!</p></button>
                </td>

                <td>
                    <button type="button" ng-click="buttonClick(0, 3)"><p style="background-color:{{color}}">Click Me!</p></button>
                </td>

                <td>
                    <button type="button" ng-click="buttonClick(0, 4)"><p style="background-color:{{color}}">Click Me!</p></button>
                </td>

                <td>
                    <button type="button" ng-click="buttonClick(0, 5)"><p style="background-color:{{color}}">Click Me!</p></button>
                </td>

                <td>
                    <button type="button" ng-click="buttonClick(0, 6)"><p style="background-color:{{color}}">Click Me!</p></button>
                </td>

                <td>
                    <button type="button" ng-click="buttonClick(0, 7)"><p style="background-color:{{color}}">Click Me!</p></button>
                </td>

                <td>
                    <button type="button" ng-click="buttonClick(0, 8)"><p style="background-color:{{color}}">Click Me!</p></button>
                </td>

                <td>
                    <button type="button" ng-click="buttonClick(0, 9)"><p style="background-color:{{color}}">Click Me!</p></button>
                </td>

            </tr>
        </table>
    </body>
</html>
